.header {
  display: flex;
  flex-direction: row;
  width: clamp(260px, 60%, 1200px);
  margin: 0 auto;
  background-color: gray;
}

.leftSideHeader,
.rightSideHeader {
}

.leftSideHeader {
  padding: 0px 10px;
  width: fit-content;
}

.rightSideHeader {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}
