.img {
  width: 54px;
}

.hamburger {
  background-color: transparent;
  border: 2px solid transparent;
  color: var(--text-default);
  font-size: 3.4em;
  width: fit-content;
  padding: 0;
}

.hamburgerIcon {
  margin-top: 0px;
}
