.sortItemContainer {
  width: 90%;
  border-radius: 5px;
  min-width: fit-content;
  height: fit-content;
  margin: 5px 0;
  transition: all 0.2s ease-in-out;

  font-size: 1em;
}

.sortItemContainer:hover {
  cursor: pointer;
  transition: all 0.03s ease-in-out;
  box-shadow: inset 1.5px 1.5px var(--brand-hover),
    1.5px 1.5px var(--brand-hover);
}

.label {
  color: var(--text-default);
  margin: 5px;
  margin-left: 10px;
}

.checkbox {
  background-color: green;
  width: 1em;
  height: 1em;
}

@media (max-width: 1000px) {
  .checkbox,
  .sortItemContainer {
    font-size: 1.15em;
  }
}
