.topInfoContainer {
  width: clamp(240px, 80%, 1000px);
  margin: 70px auto 10px auto;

  display: flex;
  justify-content: left;
}

.projSelect {
  font-size: 1.05em;
  padding: 5px;
  background-color: var(--background-1);
  color: var(--text-default);
  border: 1px solid var(--subtle-gray);
  border-radius: 4px;
  font-family: inherit;
  box-sizing: border-box;
  outline: none;
  transition: all 0.2s ease-in-out;
  max-width: 260px;
}

.option {
  color: var(--text-default);
  background-color: var(--background-1);
}

.projSelect:hover,
.option:hover {
  cursor: pointer;
}

.projSelectLabel {
  font-size: 1em;
  display: block;
  color: var(--subtle-text);
}

.bottomContainer {
  width: clamp(240px, 65%, 650px);
  margin: 40px auto;

  display: flex;
  justify-content: left;
}

@media (max-width: 800px) {
  .topInfoContainer {
    width: 90%;
  }
  .projSelect {
    max-width: 150px;
  }
}
