.topInfoContainer {
  width: clamp(240px, 80%, 1000px);
  margin: 70px auto 10px auto;

  display: flex;
  justify-content: left;
}

.projSelect {
  font-size: 1.05em;
  padding: 6px;
}

.projSelectLabel {
  font-size: 1em;
  display: block;
}
