.modalContainer {
  background-color: rgba(0, 0, 0, 0.369);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.form {
  width: clamp(250px, 60vw, 800px);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.heading {
  display: inline-block;
  margin: 0;
  margin-top: 10px;
}

.cancelButton {
  float: right;

  color: var(--brand-1);
  border: 2px solid var(--brand-1);
  border-radius: 23px;
  background-color: transparent;

  margin: 5px;
  font-size: 1.05em;
  padding: 8px;
}

.cancelButton:hover {
  cursor: pointer;
  color: var(--text-default);
  border-color: var(--text-default);
}

@media (max-width: 500px) {
  .form {
    width: 85vw;
  }
}
