.projectsContainer {
  width: clamp(800px, 70%, 1500px);
  margin: 0 auto;
  margin-top: 40px;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  grid-auto-rows: auto;
  column-gap: 60px;
  row-gap: 40px;
}

.titleContainer {
  margin: 0 auto;

  margin: 10px 0;
  display: flex;
  justify-content: space-around;
}

.header {
  margin: 0;
}

.newProjButton {
  background-color: transparent;
  border: 2px solid var(--brand-1);
  color: var(--brand-1);
  border-radius: 24px;
  padding: 10px 15px;
  height: 50%;
  transition: all 0.34s ease-out;
  font-size: 0.94em;
}

.newProjButton:hover {
  cursor: pointer;
  transition: all 0.03s ease-in-out;
  border-color: var(--text-default);
  color: var(--text-default);
}

.noProjText {
  font-size: 1.3em;
  text-align: center;
  width: 100%;
  margin-top: 100px;
}

@media (max-width: 1700px) {
  .projectsContainer {
    grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
  }
}

@media (max-width: 1000px) {
  .projectsContainer {
    width: clamp(260px, 80%, 500px);
    min-width: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .project {
    width: 100%;
  }
}
