.thumbnailContainer {
  width: clamp(250px, 100%, 1200px);
  padding: 10px;
  border: 2px solid gray;
  background-color: rgb(32, 32, 32);

  overflow: auto !important;
}

.hide {
  background-color: transparent;
  color: transparent;
  width: 0px;
  height: 0px;
  border: 0px solid transparent;
}

.projectName {
  margin: 0;
  margin-top: -10px;
  text-align: center;
}
