:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  /* Who in their right mind made this not default */
  margin: 0;
}

.dark {
  /* Dark mode colors */
  --html-page-color: rgb(37, 39, 42);
  --page-secondary: rgb(37, 39, 42);

  --text-default: hsla(0, 0%, 100%, 0.87);

  --background-one: #0a0a0a;

  --subtle-gray: rgb(69, 69, 69);
}

.light {
  /* light mode colors */
  --html-page-color: #ffffff;
  --page-secondary: rgb(255, 255, 255);
  --text-default: hsla(0, 0%, 0%, 0.87);

  --background-one: rgb(232, 232, 232);
}

.dark,
.light {
  /* Styles for main div (App div / root container) */
  background-color: var(--html-page-color);
  color: var(--text-default);

  min-height: 100vh;

  /* shared light and dark colors */
  --brand-1: rgb(77, 158, 208);
  --shared-color: pink;
}
