:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.light {
  /* light mode colors */
  --a-color: green;
  --html-page-color: #ffffff;
  --text-default: hsla(0, 0%, 0%, 0.87);
}

.dark {
  /* Dark mode colors */
  --a-color: blue;
  --html-page-color: #242424;
  --text-default: hsla(0, 0%, 100%, 0.87);
}
