:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  /* Who in their right mind made this not default */
  margin: 0;
}

.dark {
  /* Dark mode colors */
  --html-page-color: rgb(37, 39, 42);
  --page-secondary: rgb(37, 39, 42);

  --text-default: hsla(0, 0%, 100%, 0.87);

  --background-1: #0a0a0a;

  --gray-1: gray;
  --subtle-gray: rgb(69, 69, 69);
}

.light {
  /* light mode colors */
  --html-page-color: #ffffff;
  --page-secondary: rgb(255, 255, 255);
  --text-default: hsla(0, 0%, 0%, 0.87);

  --background-1: rgb(232, 232, 232);

  --gray-1: rgb(63, 63, 63);
  --subtle-gray: rgb(199, 199, 199);
}

.dark,
.light {
  /* Styles for main div (App div / root container) */
  background-color: var(--html-page-color);
  color: var(--text-default);

  min-height: 100vh;

  /* shared light and dark colors */
  --brand-1: rgb(77, 158, 208);
  --brand-hover: rgb(91, 178, 231);
  --shared-color: pink;
}

.actionButton {
  width: 100%;
  border: none;
  border-radius: 4px;
  padding: 0.5rem;
  font-size: 1rem;
  font-family: inherit;
  box-sizing: border-box;
  outline: none;
  transition: all 0.1s ease-in-out;
  background-color: var(--brand-1);
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.actionButton:hover {
  background-color: var(--brand-hover);
}
