.container {
  width: 95%;
  margin: 20px auto;
}

.tabsContainer {
  width: 98%;
  margin: 0 auto;
  display: flex;
  justify-content: left;
  gap: 10px;
}

.tab {
  background-color: transparent;
  border: 1px solid var(--gray-1);
  color: var(--text-default);
  font-size: 1em;
  padding: 4px 20px 2px 20px;
  transition: all 0.18s ease-in-out;
  border-radius: 10px;
}

.tab:hover {
  cursor: pointer;
  color: var(--brand-1);
  border-color: var(--brand-1);
}

.methodContainer {
  border: 1px solid var(--gray-1);
  border-radius: 10px;
  padding: 5px;
  margin-top: 10px;

  height: fit-content;
  max-height: 550px;
  overflow-x: scroll;
  overflow-y: scroll;
}

.subText {
  margin: 0 0 10px 0;
  font-size: 1em;
  text-align: center;
}

.snippetPre {
  margin: 0;
  margin-left: 10px;
  padding: 5px;
}

.codeSnippet {
  font-size: 1.3em;
}
