.copyBtn {
  width: fit-content;
  padding: 0.6em;
  font-size: 1.2em;
  border: transparent;
  border-radius: 100%;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.8s ease-in-out;
  text-align: center;
  aspect-ratio: 1/1;
  margin: -20px 0 20px 0;
  transform: translate(15px, 20px);
}

.copyBtn:hover {
  background-color: #a0a0a032;
  transition: all 0.1s ease-in-out;
}

.icon {
  transform: translateY(3px);
  color: var(--text-default);
}
