.datesContainer {
  margin-left: auto;
}

.daysContainer,
.yearsContainer {
  width: fit-content;
  border: 1px solid var(--gray-1);
  display: flex;
  justify-content: left;
  align-items: baseline;
}

.daysButton {
  background-color: transparent;
  border: none;
}

.daysNum {
  display: inline;
  width: 50px;
  text-align: center;
  font-size: 1.2em;
  height: 10px;
}
