.datesContainer {
  margin-left: auto;
  transform: translateY(25px);
}

.daysContainer,
.yearsContainer {
  margin-top: auto;
  border: 1px solid transparent;
  display: flex;
  justify-content: space-around;
}

.daysButton {
  background-color: transparent;
  border: 2px solid transparent;
  transition: all 0.2s ease-out;
  width: fit-content;
  height: 100%;
  color: var(--text-default);
  font-size: 1em;
  padding: 0;
}

.daysButton:hover {
  cursor: pointer;
  color: var(--brand-1);
}

.daysNum,
.yearsNum {
  display: inline;
  width: 50px;
  text-align: center;
  font-size: 1.3em;
  margin: 0;
}

.yearsNum {
  font-size: 1em;
}

.arrowIcon,
.arrowIconSmall {
  height: 100%;

  font-size: 1.7em;
  margin-top: 4px;
}

.arrowIconSmall {
  font-size: 1.25em;
}

@media (max-width: 800px) {
  .daysButton {
    font-size: 15px;
  }
}
